{% extends "layout.html" %}

{% block title %}
    sell
{% endblock %}

{% block main %}

<h3>Sell</h3>

<form action="/sell" method="post">
    <div class="mb-3">
        <select name='Symbol'>
            <option disabled selection> symbol </option>
            {% for s in portfolio %}
            <option>{{ s['symbol'] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" min=1 name="shares" placeholder="Shares" type="number">
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
</form>



{% endblock %}
